.explore-recipes {
  margin-block-end: 2em;
    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.MuiSlider-root {
    color: #20b2aa;
  }
  
  .MuiSlider-root:hover {
    color: #2e8b57;
  }
  
  