.footer {
    background-color: $darker-text;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;


    .resources {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .explore-container {
            .categories-links {
                margin-block-start: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                
                a {
                    margin-inline-end: 2em;
                }
                
                .category-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    margin-block-start: 1em;
                    border-radius: 7px;


                    h4 {
                        font-size: large;
                        font-family: Handlee;
                        color: $lighter-wood;
                        z-index: 120;
                    }

                    h4:hover {
                        border-radius: 50px;
                        text-decoration: underline $light-text;
    
                    }
                }
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            margin-block-start: 1em;
            justify-self: center;

            a {
                color: $light-wood;
                margin-block-start: 1em;

                list-style: none;
                padding: 0.2em;
            }

            a:hover {
                color: $lighter-wood;
            }
        }
    }

    .copy {
        font-family: Handlee;
        color: $light-text;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block-end: 1em;
        
        button{
            font-family: Gloock;
            border-radius: 7px;
            color: $light-text;
            cursor: pointer;
            background-color: $dark-text;
            padding: .5em;
            border: none;
        }
        
        button:hover{
            color: $light-wood;
            background-color: $dark-text;

        }
    }
}