.hero {
    position: relative;

    .back-img {
        z-index: 1;

        img {
            width: 100%;
            object-fit: cover;
        }

    }

    .explore {
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 180;
        height: 50px;
        top: 20%;
        left: 35%;
        text-align: center;
        border-radius: 3px;

        .explore-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #4c3e3e5d;
            border-radius: 20px;
            box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);
            -webkit-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);

            a {
                display: flex;
                align-items: center;
            }

            button {
                font-family: Handlee;
            }

            h4 {
                font-weight: 200;
                letter-spacing: 0.2em;
                color: #ffeded;
                margin-inline-start: 2em;
                font-family: Handlee;
            }

            .MuiInputBase-root-MuiInput-root:after {
                border-bottom: 2px solid $light-wood;
            }

            .MuiFormControl-root {
                width: 90%;
                margin-inline-start: 1em;
                margin-inline-end: 1em;
            }

            .MuiButtonBase-root {
                background-color: $light-wood;
                color: $dark-wood;
                border-radius: 0 20px 20px 0px;
            }

            .MuiButtonBase-root:hover {
                background-color: $dark-text;
                color: $light-wood;
            }

        }
    }

}

@media only screen and (max-width: 480px) {
    .hero {

        .back-img {
    
            img {
                height: 400px;
                object-fit: cover;
            }
    
        }
    
        .explore {
            top: 22%;
            left: 50%;
            width: 80%;
            
            .explore-container {
                a {
                    justify-content: space-between;

                    width: 100%;
                    h4 {
                        font-size: small;
                    }
                }
            }
        }
    }

}

/* Small devices (520px and up) */
@media only screen and (min-width: 480px) {}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 680px) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 808px) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1064px) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1340px) {}