@font-face {
  font-family: 'Gloock';
  src: url('/assets/fonts/Gloock-Regular.ttf');
}

@font-face {
  font-family: 'Cookie';
  src: url('/assets/fonts/Cookie-Regular.ttf');
}

@font-face {
  font-family: 'Handlee';
  src: url('/assets/fonts/Handlee-Regular.ttf');
}

@font-face {
  font-family: 'PatrickHand';
  src: url('/assets/fonts/PatrickHand-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
}