$dark-text: #4c3e3e;
$dark-text-opactiy: #4c3e3e86;
$darker-text: #1f1919;
$light-text: #cbc2c1;
$light-text-opactiy: #cbc2c185;
$light-header-opactiy: #cbc2c134;
$light-wood:#f4b069;
$dark-wood:#77380d;
$dark-wood-opactiy:#77370d6b;
