* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.app {
    background-color: rgb(240, 240, 240);
}

.app-main {
    min-height: calc(100vh - 300px - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    // width: 1300px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0;
}

hr {
    // width: 100%;
    // margin-top: .5em;
    // border: 0;
    // height: 1px;
    // background-image: linear-gradient(to right, $dark-text, $light-text, rgba(255, 255, 255, 0));
}

.confirm-button {
    cursor: pointer;
    padding: .3em 1em .3em 1em;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    color: $light-wood;
    background-color: $dark-text;
    border: none;
    align-self: self-end;
    font-size: 1em;
    transition: .3s;
}

.confirm-button:hover {
    color: $dark-text;
    background-color: $light-wood;
}

.basic-button {
    cursor: pointer;
    padding: .3em 1em .3em 1em;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    color: $light-wood;
    background-color: $dark-text;
    border: none;
    align-self: self-end;
    font-size: 1em;
    transition: .3s;
}

.basic-button:hover {
    color: $dark-text;
    background-color: $light-wood;
}