@media only screen and (max-width: 480px) {
    .container {
        max-width: 400px;
    }
}

/* Small devices (520px and up) */
@media only screen and (min-width: 480px) {
    .container {
        min-width: 440px;
    }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 680px) {
    .container {
        width: 640px;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 808px) {
    .container {
        width: 768px;
    }

}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1064px) {
    .container {
        width: 1024px;
    }

}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1340px) {
    .container {
        width: 1300px;
    }

}