.add-recipe {
    font-family: Handlee;
    color: $dark-text;

    .content {
        display: grid;
        grid-template-columns: 75% 1fr;

        .add-recipe-wrapper {
            display: grid;

            h1 {
                font-size: xx-large;
                margin-block-start: .3em;
            }

            hr {
                margin-top: .5em;
                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, $dark-text, $light-text, rgba(255, 255, 255, 0));
            }

            .css-q0jhri-MuiInputBase-root-MuiInput-root {
                color: $dark-text;
            }

            .css-q0jhri-MuiInputBase-root-MuiInput-root::after {
                border-bottom: 2px solid $light-wood;
            }

            .MuiButtonBase-root {
                margin-block-start: 1em;
                // width: 100%;
                font-family: Handlee;
            }

            form {
                display: flex;
                flex-direction: column;
                margin-inline-end: 1em;

                Input {
                    height: 40px;
                }

            }
        }

        .control {
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;

            .buttons {
                display: flex;
                flex-direction: column;
                align-items: center;

                .loading-button {
                    margin-block-start: 1em;
                    display: flex;
                    justify-content: start;

                    .MuiButtonBase-root:hover {
                        background-color: $confirm;
                        color: $dark-wood;
                    }

                    .MuiButtonBase-root {
                        background-color: $light-wood;
                        color: $dark-wood;
                    }
                }

                .upload-button {
                    display: flex;
                    width: 150px;
                    flex-direction: column;

                    .MuiButtonBase-root:hover {
                        background-color: $confirm;
                        color: $dark-wood;
                    }

                    .MuiButtonBase-root {
                        background-color: $dark-text;
                        color: $light-wood;
                        margin-block-start: 1em;
                        width: 100%;
                        font-family: Handlee;
                    }
                }
            }

        }
    }

}