.add-remove-ingredient-section {

    h3 {
        margin-block-start: .5em;
    }

    svg {
        height: 30px;
        padding: 0;

    }

    h4 {
        width: 100%;
    }

    .MuiButtonBase-root {
        font-family: Handlee;
        padding: 0;
        margin-inline-start: .5em;
        margin-inline-end: .5em;
        height: 30px;
    }

    .add-remove-ingredient {
        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
            font-family: Handlee;
        }

        .MuiInputBase-root {
            width: 100%;
        }

        .MuiButtonBase-root {}

        .MuiButtonBase-root:hover {
            background-color: $reject;
        }
    }

    .add-ingredient {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .MuiInputBase-root {
            width: 100%;
        }

        .MuiButtonBase-root:hover {
            background-color: $confirm;
        }

    }

    .remove-ingredient {
        display: flex;
        justify-content: flex-end;
        align-items: center
    }
}