.add-remove-step-section {
    h3 {
        margin-block-start: .5em;
    }

    h4 {
        width: 100%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    .MuiButtonBase-root {
        padding: 0;
        margin-inline-start: .5em;
        margin-inline-end: .5em;
        height: 30px;
    }

    .add-remove-step {
        display: flex;

        * {
            font-family: Handlee;
        }

    }

    .add-step {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            height: 30px;
        }

        .MuiInputBase-root {
            width: 100%;
        }

        .MuiButtonBase-root:hover {
            background-color: $confirm;
        }
    }

    .add-remove-step {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        svg {
            height: 30px;
        }

        .MuiInputBase-root {
            width: 100%;
        }

        .MuiButtonBase-root:hover {
            background-color: $reject;
        }

    }
}