.add-remove-ingredient-section {
    h3 {
        margin-block-start: .5em;
    }

    .add-remove-ingredient {
        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
            font-family: Handlee;
        }

        .MuiInputBase-root {
            width: 100%;
        }

        .MuiButtonBase-root {
            // background-color: $light-text-opactiy;
            color: $dark-wood;
            // margin-inline-start: 1em;
        }

        .MuiButtonBase-root:hover {
            background-color: $reject;
            color: $dark-wood;
        }
    }

    .add-ingredient {
        display: flex;
        justify-content: space-between;

        .MuiInputBase-root {
            width: 100%;
        }

        .MuiButtonBase-root {
            // background-color: $light-wood;
            color: $dark-wood;
            // margin-inline-start: 1em;
            font-family: Handlee;
            // width: 35%;
        }

        .MuiButtonBase-root:hover {
            background-color: $confirm;
            color: $dark-wood;
        }

    }

    h4 {
        width: 100%;
    }

    .remove-ingredient {
        display: flex;
        justify-content: flex-end;

        input {
            // width: 100%;
            // width: 10px;
        }

        .MuiButtonBase-root {
            width: 5px;

            margin-inline-start: 1em;
        }

    }
}