.dropdown-menu {
    h4 {
        // color: $dark-text;
        display: inline-block;
        text-decoration: none;
    }

    h4:hover {
        color: $darker-text;
    }

    h4::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $darker-text;
        transition: width .2s;
    }

    h4:hover::after {
        width: 100%;
    }

    .MuiMenu-root {
        z-index: 201;
    }
}

.MenuUnstyled {
    z-index: 201;
}

.MuiMenuItem-root:focus {

    a {}
}

.MuiMenuItem-root {

    a {
        color: $dark-text
    }
}

.MuiMenuItem-root:hover {
    background-color: $lighter-wood;
    outline: .5px solid $dark-text;
}

.Mui-focusVisible {
    outline: none;
}