.login {
    margin-block-start: 1em;
    color: $dark-text;
    font-family: PatrickHand;
    height: calc(100vh - 22.813em);
    min-height: 15em;

    form {
        display: flex;
        flex-direction: column;
        width: 30%;

        .input {
            display: flex;
            flex-direction: column;

            .input-container {

            }
        }

        .MuiInput-root {
            width: 100%;
            color: $dark-text;
        }

        .MuiInput-root::after {
            border-bottom: 2px solid $light-wood;
        }

        .MuiButtonBase-root {
            background-color: $dark-text;
            color: $light-wood;
            margin-block-start: 1em;
            margin-block-end: 1em;
            width: 50%;
        }

        .MuiButtonBase-root:hover {
            background-color: $dark-wood-opactiy;
            color: $dark-wood;
        }



        h2 {
            margin-block-end: 1em;
        }

        p {
            margin-block-start: .5em;
        }

        .incorrect {
            color: $incorrect;
        }
    }

    a {
        color: $dark-text;
        padding-inline-start: .3em;
        padding-inline-end: .3em;
        border-radius: 7px;
    }

    a:hover {
        background-color: $light-wood;
    }
}

@media only screen and (max-width: 480px) {
    .login {

        form {
            width: 100%;
        }
    }
}

/* Small devices (520px and up) */
@media only screen and (min-width: 480px) {
    .login {
        form {
            width: 50%;
        }
    }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 680px) {
    .login {

        form {
            width: 60%;
        }
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 808px) {
    .login {

        form {
            width: 50%;
        }
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1064px) {
    .login {

        form {
            width: 40%;
        }
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1340px) {
    .login {

        form {
            width: 30%;
        }
    }
}