.food-filter {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 65px;
    z-index: 100;
    margin-block-start: 1em;
    margin-block-end: 1em;
    background-color: $main-back-opacity;


    .filter-result {
        position: absolute;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-inline-start: .5em;
        margin-inline-end: .5em;
        padding-inline-start: .5em;
        padding-inline-end: .5em;
        border-radius: 7px;
        color: $dark-text;

        h4 {
            font-family: Handlee;
            margin-inline-end: 1em;
        }

        .MuiButtonBase-root {
            background-color: $light-wood;
            color: $dark-wood;
            border-radius: 20px;
            font-family: PatrickHand;
        }

        .MuiButtonBase-root:hover {
            background-color: $dark-text;
            color: $light-wood;
        }
    }

    .filter-container {
        display: flex;
        justify-self: center;
        border-radius: 20px;
        height: 35px;
        width: 350px;
        box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);

        .reset-button {
            display: flex;
            max-height: 30px;
        }

        input {
            width: 300px;
            padding-inline-start: .5em;
            border-radius: 20px 0 0 20px;
            background-color: $main-back;
            border: none;
        }

        input:focus {
            outline: .2px solid $lighter-wood;
        }

        .MuiButtonBase-root {
            background-color: $light-wood;
            color: $dark-wood;
            border-radius: 0 20px 20px 0px;
        }

        .MuiButtonBase-root:hover {
            background-color: $dark-text;
            color: $light-wood;
        }
    }
}

@media only screen and (max-width: 480px) {
    .food-filter {
        height: 85px;
        display: flex;
        flex-direction: column;
        top: 65px;

        .filter-result {
            position: relative;
        }

        .filter-container {
            margin-block-start: .5em;
            width: 300px;

            input {
                width: 100%;
            }
        }
    }
}

/* Small devices (520px and up) */
@media only screen and (min-width: 480px) {
    .food-filter {
        height: 85px;
        display: flex;
        flex-direction: column;
        top: 65px;

        .filter-result {
            position: relative;
            margin-block-end: .5em;
        }

    }

}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 680px) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 808px) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1064px) {
    .food-filter {
        height: 60px;
        display: grid;
        top: 65px;

        .filter-result {
            position: absolute;
            margin-block-end: 0em;

        }
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1340px) {}