.food-preview:hover {
    img {
        opacity: 0.5;

    }

    cursor: pointer;
}

.food-preview {
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 7px;
    margin-block-start: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    box-shadow: 0px 3px 1px 0px rgba(196, 196, 196, 0.23);

    img {
        transition: .3s ease;
    }

    .card-body {
        // display: grid;
        grid-column: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 50%;
        padding: 0.2em 0.5em 0.5em 0.5em;

        Button {
            width: 10px;
            height: 20px;
        }

        .card-name {
            margin-block-start: 0.2em;
        }

        .card-credits {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            .credit-img {
                display: flex;
                justify-content: flex-end;

                img {
                    width: 25%;
                    border-radius: 50%;
                }
            }
        }
    }

    .card-img {
        min-height: 60%;
        max-height: 60%;


        img:hover {
            // opacity: 0.5;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 7px;
        }
    }

}