.user-profile {
    margin-block-start: 1em;

    .user-content {

        h2 {
            font-size: 2em;
        }

        hr {
            margin-block-start: 1em;
            margin-block-end: 1em;
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);

        }

        .user-recipe {
            // width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .user-recipe-box {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                p {
                    font-size: 1.5em;
                }
            }
        }
    }

    .user-fav {

        .fav-header {
            display: flex;
            align-items: center;
            padding-inline-start: 1em;
            padding-inline-end: 1em;
            justify-content: space-between;
        }

        .food-list {
            display: flex;
            flex-wrap: wrap;

            .alice-carousel__stage {
                width: 350px;
            }

            span {
                color: $dark-wood;
                font-size: 1.5em;
            }

            .alice-carousel__dots-item.__active {
                background-color: $light-wood;

            }

            .alice-carousel__dots-item {
                background-color: $lighter-wood;

            }

            .alice-carousel__stage-item {
                margin-inline-end: 1em;
                width: 350px;
            }

            .food-preview:hover {
                box-shadow: 0px 0px 3px 1px $light-wood;
                -webkit-box-shadow: 0px 0px 3px 1px $light-wood;
                -moz-box-shadow: 0px 0px 3px 1px $light-wood;
            }

            .food-preview {
                height: 200px;
                width: 350px;
                display: grid;
                grid-template-columns: 30% 1fr;
                border-radius: 7px;
                // flex: row;

                // outline: 1px solid $light-wood;

                .card-img {
                    position: absolute;
                    // height: 100px;
                    // justify-self: end;
                    // min-height: 100px;
                    // max-height: 100px;

                    img {
                        z-index: 1;
                        height: 200px;
                        width: 350px;
                        // max-height: 200px;
                    }

                    img:hover {
                        // opacity: .7;
                        transform: none;
                    }

                }

                .card-body {
                    background-color: $main-back-opacity;
                    z-index: 200;
                    height: 100%;
                }

                .MuiButtonBase-root {
                    background-color: $dark-wood-opactiy;
                    color: $dark-wood;
                }

                .MuiButtonBase-root:hover {
                    background-color: $dark-text;
                    color: $light-wood;
                }
            }
        }
    }

    .user-details {
        * {
            font-family: PatrickHand;
            color: $dark-text;
        }
    }
}