.user-profile {
    margin-block-start: 1em;

    .user-content {

        .user-recipe {
            // width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .user-recipe-box {
                width: 100%;

                .food-preview{
                }
            }
        }
    }

    .food-list {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;

        .food-preview {

            .MuiButtonBase-root {
                background-color: $dark-wood-opactiy;
                color: $dark-wood;
            }

            .MuiButtonBase-root:hover {
                background-color: $dark-text;
                color: $light-wood;
            }
        }
    }

    .user-details {
        * {
            font-family: PatrickHand;
            color: $dark-text;
        }
    }
}