@import 'setup/variables';
@import 'setup/base';
@import 'setup/typography';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-text-opactiy;
    min-height: 100vh;
}

.app-main {}

.container {
    width: 1100px;
}

.app-header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 190;
    background-image: url('../images/background/il_fullxfull.2551070265_fcsh.jpg');
    background-size: cover;

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $light-text-opactiy;
        border-radius: 7px;

        .header-logo {

            a {

                letter-spacing: .3em;
                color: $dark-text;
                transition: 1s;

                h1 {
                    font-family: Handlee;
                    font-size: 1em;
                    margin-inline-start: 1em;
                }

                span {
                    transition: 1s;
                    color: $light-wood;
                    font-family: Cookie;
                    font-size: 3em;
                }
            }

            a:hover {
                color: $light-wood;

                span {
                    transition: 2s;
                    color: $dark-text;
                }
            }
        }

        .header-routes {
            display: flex;
            align-items: center;
            font-family: Handlee;

            .css-j9r4wx {
                background-color: red;
            }


            .logged-user {
                display: flex;
                align-items: center;

            }

            a {
                color: $dark-text;
                transition: .4s;
                border-radius: 7px;
            }

            a:hover {
                color: $light-wood;
                background-color: $dark-text;
            }

            h4 {
                font-size: larger;
                font-weight: 600;
                letter-spacing: 5px;
                margin-inline-start: .5em;
                margin-inline-end: .5em;
            }

        }


    }

}

.home-page {}

.skeleton-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .skeleton-preview {
        height: 250px;
        border-radius: 7px;
        margin-block-start: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;

        .skeleton-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.food-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    * {
        font-family: PatrickHand;
        color: $dark-text;
    }
}

.food-preview {
    display: flex;
    flex-direction: column;
    height: 250px;
    border-radius: 7px;
    margin-block-start: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    .card-body {
        display: grid;
        grid-column: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 50%;
        padding: 0.2em 0.5em 0.5em 0.5em;

        .card-name {
            margin-block-start: 0.2em;
        }

        .card-credits {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 20%;
            }
        }
    }

    .card-img {
        height: 60%;


        img:hover {
            opacity: 0.5;
        }

        img {
            transition: .3s ease;

            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 7px;
        }
    }

}



.food-details {
    display: grid;
    grid-template-columns: minmax(60%, 40%) 40% 60%;

    * {
        font-family: PatrickHand;
        color: $dark-text;
    }

    .details-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        opacity: 0.3;
        object-fit: cover;
        z-index: 1;
    }

    .details-left {
        z-index: 180;
        width: 100%;

        h1 {
            margin-block-start: .6em;
        }

        h2 {
            margin-block-end: 1em;
        }

        h3 {
            margin-block-start: .5em;
            margin-block-end: .5em;
        }

        h4 {
            font-weight: 600;
            color: $darker-text;
        }

        hr {
            margin: 0 auto;
            margin-top: .5em;
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, $dark-text, $light-text, rgba(255, 255, 255, 0));
        }

        p {
            margin-block-start: .5em;
            margin-block-end: .5em;
            font-weight: 600;
        }

        .food-ingredients {

            .ingredients-table {
                display: grid;
                grid-template-columns: 1fr auto;

                margin-block-end: 1em;



            }
        }
    }

    .details-right {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        padding: 0.5em;
        z-index: 180;

        .sticky-right {

            position: sticky;
            top: 130px;

            .food-video {
                video {
                    border-radius: 7px;
                    width: 100%;
                }
            }

            .MuiButtonBase-root {
                background-color: $dark-text;
                color: $light-wood;
                margin-block-start: 1em;
                width: 100%;
            }

            .MuiButtonBase-root:hover {
                background-color: $dark-wood-opactiy;
                color: $dark-wood;
            }
        }
    }
}


.food-filter {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;

    position: sticky;
    top: 110px;
    z-index: 200;
    margin-block-start: .5em;

    .filter-result {
        display: flex;
        align-items: center;
        margin-inline-start: .5em;
        margin-inline-end: .5em;
        padding-inline-start: .5em;
        padding-inline-end: .5em;
        border-radius: 7px;
        color: $dark-text;
        background-color: $light-text-opactiy;
    }

    .filter-container {
        display: flex;
        background-color: $dark-text;
        border-radius: 20px;
        box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.24);
    }

    .css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
        border-bottom: 2px solid $light-wood;
    }

    .MuiFormControl-root {
        width: 90%;
        margin-inline-start: 1em;
        margin-inline-end: 1em;
    }

    .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
        color: $light-wood;
    }

    .css-1x51dt5-MuiInputBase-input-MuiInput-input {
        color: $light-text;
    }

    .MuiInputLabel-root {
        color: $light-wood;
    }

    .MuiInputBase-root {
        color: $light-text;
    }

    .MuiButtonBase-root {
        background-color: $light-wood;
        color: $dark-wood;
        border-radius: 0 20px 20px 0px;
    }

    .MuiButtonBase-root:hover {
        background-color: $dark-text;
        color: $light-wood;
    }


}


.login {
    margin-block-start: 1em;
    color: $dark-text;

    * {
        font-family: PatrickHand;
    }

    .css-q0jhri-MuiInputBase-root-MuiInput-root {
        color: $dark-text;
    }

    .css-q0jhri-MuiInputBase-root-MuiInput-root::after {
        border-bottom: 2px solid $light-wood;
    }

    .MuiButtonBase-root {
        background-color: $dark-text;
        color: $light-wood;
        margin-block-start: 1em;
        width: 100%;
    }

    .MuiButtonBase-root:hover {
        background-color: $dark-wood-opactiy;
        color: $dark-wood;
    }

    a {
        color: $dark-text;
        padding-inline-start: .3em;
        padding-inline-end: .3em;
        border-radius: 7px;
    }

    a:hover {
        background-color: $light-text-opactiy;
    }

    h2 {
        margin-block-end: 1em;
    }

    p {
        margin-block-start: 1em;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

.user-profile {
    margin-block-start: 1em;

    .user-details {
        * {
            font-family: PatrickHand;
            color: $dark-text;
        }
    }
}

.add-recipe {
    * {
        font-family: Handlee;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;

        .css-q0jhri-MuiInputBase-root-MuiInput-root {
            color: $dark-text;
        }

        .css-q0jhri-MuiInputBase-root-MuiInput-root::after {
            border-bottom: 2px solid $light-wood;
        }

        .MuiButtonBase-root {
            background-color: $dark-text;
            color: $light-wood;
            margin-block-start: 1em;
            width: 100%;
            font-family: Handlee;
        }

        .MuiButtonBase-root:hover {
            background-color: $dark-wood-opactiy;
            color: $dark-wood;
        }

        .add-remove-section {

            .Add-ingredient {
                display: flex;
                justify-content: space-between;

                .MuiButtonBase-root {
                    background-color: $light-text-opactiy;
                    color: $dark-wood;
                    margin-inline-start: 1em;
                    width: 50%;
                    font-family: Handlee;
                }

                .MuiButtonBase-root:hover {
                    background-color: $dark-wood-opactiy;
                    color: $dark-wood;
                }

            }

            .add-remove-ingredient {
                display: flex;
                justify-content: space-between;
                align-items: center;



                .MuiButtonBase-root {
                    background-color: $light-text-opactiy;
                    color: $dark-wood;
                    margin-inline-start: 1em;
                    width: 50%;
                }

                .MuiButtonBase-root:hover {
                    background-color: $dark-wood-opactiy;
                    color: $dark-wood;
                }
            }

            .remove-ingredient {
                display: flex;
                justify-content: flex-end;

                // width: 50%;
                .MuiButtonBase-root {
                    // background-color: $light-text-opactiy;
                    // color: $dark-wood;
                    margin-inline-start: 1em;
                    width: 50%;
                }

            }

        }


    }
}