* {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1100px;
}

.food-list {
    display: flex;
    flex-wrap: wrap;
}

.food-preview {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 0.1px solid rgba(173, 216, 230, 0.521);
    margin-inline-end: .5em;
    margin-block-end: 1em;

    .card-header {
        height: 40%;
        padding: 0.2em 0.5em 0.5em 0.5em;
    }

    .card-img {
        height: 60%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

}



.food-details {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .details-left {
        padding: 0.5em;

        .food-instructions {
            // width: 50%;
        }
    }

    .details-right {
        padding: 0.5em;

        z-index: 180;

        video{
            width: 100%;
            // height: 240px;
        }
    }

    img {
        // z-index: 1;
        // width: 100%;
        position: absolute;
        opacity: 0.3;
    }
}